.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 916px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
