.footer__copyright {
    margin: 0;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

@media(max-width:720px) {
    .footer__copyright {
        margin-left: 5%;
    }
}