.photo-grid {
  display: grid;
  grid-gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 284px));
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 92px;
}
