.places {
  padding: 52px 0;
  margin: 0 auto;
  max-width: 984px;
  color: white;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 320px;
    padding: 42px 0;
  }
}
