.photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 676px) {
  .photo-grid {
    padding-inline: 16px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 64px;
    gap: 12px;
  }
}
