.lead {
    max-width: 928px;
    margin: 0 auto 92px;
}

@media(max-width: 1024px) {
    .lead {
        margin-bottom: 48px;
    }
}


@media(max-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}


@media(max-width: 320px) {
    .lead {
        margin-bottom: 64px;
    }
}