.cover__subtitle {
    text-align: center;
    margin: 32px auto 0;
    max-width: 360px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 720px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}