.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 0 27px;
    padding: 0;
}

@media screen and (max-width: 850px) {
    .place__paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
}