@font-face {
  font-family: "Inter Regular", sans-serif;
  src:
    url(./Inter-Regular.woff) format(woof),
    url(./Inter-Regular.woff2) format(woof2);
}

@font-face {
  font-family: "Inter Bold", sans-serif;
  src:
    url(./Inter-Bold.woff) format(woof),
    url(./Inter-Bold.woff2) format(woof2);
}

@font-face {
  font-family: "Inter Black", sans-serif;
  src:
    url(./Inter-Black.woff) format(woof),
    url(./Inter-Black.woff2) format(woof2);
}
