.places__grid-table {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  box-sizing: border-box;
}

.places__grid-table:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1186px) {
  .places__grid-table {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 916px) {
  .places__grid-table {
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 760px) {
  .places__grid-table {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 32px;
  }
}
