.placees__place {
    display: grid;
    margin: 0 auto;
    max-width: 984px;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    grid-template-areas: 
    "title website"
    "image description"
    "image description2";
}

.placees__place:not(:last-child) {
    margin-bottom: 80px;
}

@media (max-width: 984px) {
    .placees__place {
        max-width: 720px;
    }
}

@media (max-width: 720px) {
    .placees__place {
        gap: 32px;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "description"
        "description2";
        grid-template-columns: 1fr;
    }
}