.placees__place__website__url-heading {
    margin: 0;
    margin-bottom: 12px;
    color: #aaa;
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}