.place {
    display: grid;
    grid-template-columns: minmax(386px, 460px) minmax(300px, max-content);
    gap: 48px 40px;
    margin: 80px 0;
}

@media screen and (max-width: 850px) {
    .place {
        display: grid;
        grid-template-columns: minmax(300px, 340px) minmax(280px, max-content);
        column-gap: 40px;
        row-gap: 48px;
        margin: 80px 0;
    }
}

@media screen and (max-width: 720px) {
    .place {
        display: grid;
        grid-template-columns: minmax(250px, 100%);
        row-gap: 32px;
        margin: 64px 16px;
    }
}